<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thnak You</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
            text-align: center;
            text-decoration: solid;
        }
    </style>
</head>
<body>
    <div>
        <h1>Thank You</h1>
    </div>
</body>
</html>